/karty_setup_poker_cut_markers_only.png
/karty_setup_poker_no_black_card_frame.png
/karty_setup_poker_with_black_card_frame.png
/transparent_MN_thin.png
/transparent_MN_thin2.png
/transparent_white_frame.png
/zetony_setup.png
/zetony_setup_guides_f.png
/zetony_setup_guides_r.png
/.directory
